.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.App-logo {
  height: 20vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}
.App-body{
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

.Dropdown-menu{
  background-color: #4E5767 !important;
  border-color: transparent !important;
  border: 1px solid transparent;
  border-radius: 20px;
  position: fixed;
  top: 90px;
  left: 20px;
}

.Button-signin{
  background-color: #4E5767;
  border-color: white;
  border: transparent;
  border-radius: 20px;
  font-size: calc(8px + 1vmin);
  color: white;
  width: 80px;
  height: 40px;
  position: fixed;
  top: 20px;
  right: 35px;
}
.Button-homepageLogo{
  background-color: transparent;
  border-color: transparent;
  position: fixed;
  height: 25px;
  width: auto;
  top: 20px;
  left: 20px;
}
.logo-homepage{
  width: 50px;
  height: auto;
  position: fixed;  
  top: 20px;
  left: 35px;
}
.searchBar{
  font-size: calc(8px + 1vmin);
  padding: 0 15px;
  color: white;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  height: 40px;
  background-color: #4E5767;
  border: transparent;
  border-radius: 20px;
}
.body-sportLeaderboard{
  font-size: calc(8px + 1vmin);
  top:75px;
  left:150px;
  position:fixed;
  width: 350px;
  height: 700px;
  background-color: #4E5767;
  border: transparent;
  border-radius: 20px;
}
.body-sportLeaderboardButton{
  font-size: calc(9px + 1vmin);
  color: WHITE;
  background-color: #4E5767;
  border-radius: 20px;
  border: 1px solid #6a7487;
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
